<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="/assets/nitish/professnal.jpeg">
            </div>
            <div class="about-col-2">
                <div class="row2">
                    <h1 class="sub-title">About Me</h1>
                    <p> Hello! I'm Nitish Kumar, a dedicated Web Developer originally from Bihar, and I've been proud to
                        call Delhi my
                        home
                        since 2006. I completed my 10th and 12th grades right here in the heart of Delhi, and I'm
                        currently on the cusp
                        of
                        completing my BCA studies at Maharshi Dayanand University. My journey in the world of technology
                        has been
                        nothing
                        short of exhilarating.
                    </p>
                    <p> My programming journey has been diverse, encompassing Angular, Angular Material, FlexLayout,
                        Bootstrap, HTML,
                        JavaScript, CSS, and SCSS. These are the colors on my creative palette, allowing me to fashion
                        digital solutions
                        that blend functionality with aesthetics. Angular, in particular, has transformed from a
                        framework to a canvas
                        where
                        I bring ideas to life.
                    </p>
                    <p> Navigating the intricacies of front-end development and sculpting seamless user interfaces has
                        become second
                        nature
                        to me. Whether you seek collaboration, innovation, or simply want to geek out about all things
                        web development,
                        I'm
                        here to connect. Let's embark on a journey to create something extraordinary together!"**</p>
                    <p>
                        Feel free to use this introduction on your portfolio website, and adapt it as needed to match
                        your personal
                        style
                        and preferences.
                    </p>

                    <div class="tab">
                        <mat-tab-group >
                            <mat-tab label="Skills" >
                                <div class="example-large-box mat-elevation-z4">
                                    <div class="tab-contents">
                                        <ul>
                                            <li><span>Angular</span><br>Experienced in developing dynamic web
                                                applications using the Angular
                                                framework. Proficient in creating components, services, and modules to
                                                build robust and maintainable
                                                front-end solutions.</li><br>
                                            <li><span>Angular Material</span><br> I utilize its pre-designed components
                                                and themes to create modern and
                                                visually appealing designs while maintaining responsiveness and
                                                cross-browser compatibility.</li><br>
                                            <li><span>HTML</span><br>I
                                                utilize the latest HTML5 standards to build responsive and accessible
                                                web pages. </li><br>
                                            <li><span>CSS and SCSS</span><br> Proficient in crafting clean, organized,
                                                and scalable styles that enhance
                                                the presentation of web pages. I leverage CSS3 features and SCSS nesting
                                                to create engaging and visually
                                                harmonious designs</li><br>
                                            <li><span>JavaScript</span><br>Proficient in JavaScript, the cornerstone of
                                                interactive web development. I
                                                harness the power of this scripting language to create dynamic and
                                                engaging user experiences.</li>
                                        </ul>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Education">
                                <div class="example-large-box mat-elevation-z4">
                                    <div class="tab-contents">
                                        <ul>
                                            <li><span>2023</span><br>Degree and University: I completed my Bachelor of
                                                Computer Application (BCA) from the renowned Maharshi Dayanand
                                                University </li><br>
                                            <li><span>2019</span><br> "Board/University: I completed my 12th-grade
                                                education through the esteemed National Institute of Open Schooling
                                                (NIOS) in Noida, a city near New Delhi, India
                                            </li><br>
                                            <li><span>2016</span><br>
                                                Board/University: I pursued my 10th-grade education under the
                                                prestigious Central Board of Secondary Education (CBSE) in New Delhi,
                                                India
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Experience">
                                <div class="example-large-box mat-elevation-z4">
                                    <div class="tab-contents">
                                        <ul>
                                            <li><span>2022 - Present</span><br> I create web applications and am
                                                currently working at Noble Wave Company, where I'm actively engaged in
                                                web development, while also freelancing in designing and creating web
                                                applications.</li>
                                        </ul>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Project">
                                <div class="example-large-box mat-elevation-z4">
                                    <div class="tab-contents">
                                        <ul>
                                            <li><span>NOBLE-WAVE</span><br> Crafting dynamic web applications for Noble Wave Company. 
                                                <a mat-button href="https://noble-wave.com/ " target="_blank">
                                                    <mat-icon>link</mat-icon>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>