<div id="skills">
    <div class="container">
        <h1 class="sub-title">My Skills</h1>
        <div class="skills-list">
            <div>
                <i class="fa-sharp fa-solid fa-code fa-fade"></i>
                <h2>Frontend Developer</h2>
                <p>As a frontend developer, I specialize in crafting visually captivating and seamlessly functional user
                    experiences. My expertise lies in transforming design concepts into living, breathing websites and
                    web applications that resonate with users.</p>
                <!-- <a href="#">learn More</a> -->
            </div>
            <div>
                <i class="fa-brands fa-angular fa-fade"></i>
                <h2>Angular Developer</h2>
                <p>In the dynamic world of web development, Angular is my playground. As an Angular enthusiast, I
                    specialize in building interactive and feature-rich web applications that engage users and elevate
                    digital experiences to new heights.</p>
                <!-- <a href="#">learn More</a> -->
            </div>
            <div>
                <i class="fa-solid fa-mobile fa-fade"></i>
                <h2>Responsive UI</h2>
                <p>In the digital age, user experience knows no boundaries. That's where I come in – crafting designs
                    that adapt seamlessly across devices and screen sizes, ensuring that your users have an exceptional
                    experience no matter how they engage with your website.</p>
                <!-- <a href="#">learn More</a> -->
            </div>
        </div>
    </div>
</div>