<!-- my-component.component.html -->
<div id="home">
    <div class="background-video"  (click)="playVideo()" >
       
      <video id="videoElement" loop>
        <source src="/assets/video/earth.mp4" type="video/mp4">
      </video>
  
  
      <div class="centered-elements" fxLayoutGap="3000px">
        <!-- <div class="borderOfPic">
          <img src="/assets/nitish/nitish.png" alt="img">
        </div> -->
        <div class="text">
          <p class="heading">Hi, My Name is NITISH And I'm Passionated <span class="text-role"></span></p>
          <p class="para">Harnessing the synergy of Angular, Angular Material, Angular Flexlayout, and Node.js. I breathe
            life into web applications, With proficiency in HTML, CSS, SCSS, Bootstrap, and JavaScript. I transform ideas
            into interactive digital solutions.</p>
            <a class="rn-btn" href="/assets/nitish/RUSME.pdf" target="_self" ><span>DOWNLOAD CV</span></a>
        </div>
      </div>
  
  
    </div>
  </div>